html {
  font-size: 88.125%; }

body {
  margin: 0;
  font-size: 1.4rem;
  font-family: "Open Sans", sans-serif;
  background: #fafafa; }

body:before {
  content: '';
  border-top: solid 0.4rem #473ed5;
  display: block;
  position: fixed;
  width: 100%;
  z-index: 10;
  background: #fafafa;
  height: 3.6rem; }

header.site-header .intro {
  max-width: 114.0rem;
  margin: 1.0rem auto 0.0rem;
  height: 32.7rem;
  background: url("../img/intro-bg.png") center 3.9rem no-repeat;
  background-size: 114.0rem auto;
  background-attachment: fixed; }

header.site-header {
  color: white;
  width: 100%;
  padding: 3.0rem 0; }

header.site-header .wrapper {
  padding: 3.0rem 0;
  background: #fafafa; }

header.site-header .wrapper.stuck {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  width: 100%;
  position: fixed;
  top: 0.0rem;
  z-index: 20;
  background: rgba(255, 255, 255, 0.92);
  padding: 2.7rem 0;
  margin-top: 0.4rem;
  -webkit-transition: background .3s; }

header.site-header .container {
  max-width: 114.0rem;
  margin: auto;
  white-space: nowrap;
  position: relative;
  z-index: 20; }

header.site-header h1 {
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  font-size: 2.5rem;
  line-height: 4.9rem;
  float: left;
  text-align: center;
  color: #444;
  letter-spacing: 0.29rem;
  padding: 0 1.7rem 0 2.0rem;
  margin: 0;
  height: 4.9rem;
  overflow: hidden; }

header.site-header nav {
  float: left;
  border-left: 0.1rem solid #CCCCCC;
  padding-left: 2.0rem; }

header.site-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

header.site-header nav ul li {
  float: left; }

header.site-header nav ul li a {
  font-size: 1.9rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 1.5rem;
  font-style: italic;
  line-height: 5.0rem;
  display: inline-block; }

header.site-header nav ul li a:hover {
  border-bottom: solid 0.3rem #cccccc;
  line-height: 4.4rem;
  padding-top: 0.3rem;
  text-decoration: none;
  color: #444444; }

header.site-header nav ul li.active a {
  font-weight: 400;
  border-bottom: solid 0.3rem #473ed5;
  line-height: 4.4rem;
  padding-top: 0.3rem; }

header.site-header nav ul li a {
  text-decoration: none;
  color: #444444; }

header.site-header svg#logo {
  float: left;
  margin: 0 -0.7rem;
  width: 5.0rem;
  height: 5.0rem; }

header.site-header svg#menu_btn {
  display: none; }

header.site-header .dropdown {
  float: right;
  margin-top: 0.6rem; }

.btn {
  font-size: 1.4rem;
  display: inline-block;
  line-height: 3.6rem;
  background: #473ed5;
  color: white;
  text-decoration: none;
  padding: 0 1.2rem;
  border-radius: 0.2rem; }

span.icon {
  font-family: "FontAwseome"; }

section.main-content {
  width: 70%; }

section, aside {
  min-height: 1000px; }

/* break_h1_1 CSS */
/* break_h1_2 CSS */
html.break_h1_2 header.site-header h1 {
  display: none; }
html.break_h1_2 header.site-header nav {
  margin-left: 2rem; }
html.break_h1_2 header.site-header .wrapper {
  padding: 1.7rem 0; }

/* mobile CSS */
html.mobile header.site-header .dropdown {
  display: none; }
html.mobile header.site-header .wrapper {
  padding: 0.5rem 0;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25); }
html.mobile header.site-header .container {
  position: relative; }
html.mobile header.site-header h1 {
  display: block;
  text-align: center;
  margin: 0;
  float: none;
  width: auto;
  padding: 0 2.4rem 0 3.7rem; }
html.mobile header.site-header nav {
  position: absolute;
  right: -2.0rem;
  top: 5.4rem;
  border: none; }
html.mobile header.site-header nav ul {
  background: #151515;
  padding: 0 0 0.5rem 0;
  border-radius: 0 0 0 1.0rem; }
html.mobile header.site-header nav ul li {
  float: none; }
html.mobile header.site-header nav ul li a {
  font-size: 2.5rem;
  border-bottom: 0.1rem solid #2a2a2a;
  padding: 1.0rem 1.8rem;
  float: none;
  margin: 0;
  line-height: 3.5rem;
  display: block; }
html.mobile header.site-header nav ul li.active a {
  font-size: 2.5rem;
  line-height: 3.5rem; }
html.mobile header.site-header nav ul li.active a {
  font-weight: 300;
  border-bottom: 0.1rem solid #2a2a2a;
  line-height: 4.0rem;
  padding: 1.0rem 1.8rem; }
html.mobile header.site-header nav ul li:last-child a {
  border-bottom: none; }
html.mobile header.site-header nav ul li a {
  text-decoration: none;
  color: white; }
html.mobile header.site-header svg#logo {
  position: absolute;
  left: -0.5rem; }
html.mobile header.site-header svg#menu_btn {
  display: block;
  position: absolute;
  right: -1.5rem; }
html.mobile header.site-header svg#menu_btn:hover {
  cursor: pointer; }
html.mobile header.site-header .follow {
  display: none; }

@media screen and (max-width: 1800px) {
  html {
    font-size: 78.125%; } }
@media screen and (max-width: 1600px) {
  html {
    font-size: 71.875%; } }
@media screen and (max-width: 1400px) {
  html {
    font-size: 62.5%; } }
@media screen and (max-width: 118rem) {
  header.site-header .container {
    margin: 0 2.0rem; }

  header.site-header .intro {
    margin: 1.0rem 2.0rem 0.0rem; } }
@media screen and (max-width: 72rem) {
  header.site-header .wrapper {
    padding: 1.5rem 0; } }
