* {
  margin: 0;
  font-family: "Open Sans", sans-serif; }

body {
  /*background: no-repeat url('../img/head.jpg') center 0;*/ }

header.site-header {
  background: white;
  /*was .92*/
  color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px 0;
  -webkit-transition: padding .5s; }

header.site-header .container {
  max-width: 1100px;
  margin: auto;
  height: 50px; }

header.site-header h1 {
  font-weight: 300;
  font-style: italic;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 49px;
  float: left;
  text-align: center;
  color: #444;
  letter-spacing: 2.9px;
  padding: 0 17px 0 20px;
  margin: 0;
  height: 49px;
  overflow: hidden; }

header.site-header nav {
  float: left;
  border-left: 1px solid #CCCCCC;
  padding-left: 20px; }

header.site-header nav ul {
  list-style: none;
  padding: 0;
  margin: 0; }

header.site-header nav ul li {
  float: left; }

header.site-header nav ul li a {
  font-size: 19px;
  font-weight: 300;
  text-transform: uppercase;
  margin-right: 15px;
  font-style: italic;
  line-height: 50px;
  display: inline-block; }

header.site-header nav ul li a:hover {
  border-bottom: solid 3px #cccccc;
  line-height: 44px;
  padding-top: 3px;
  text-decoration: none;
  color: #444444; }

header.site-header nav ul li.active a {
  font-weight: 400;
  border-bottom: solid 3px #3f35d6;
  line-height: 44px;
  padding-top: 3px; }

header.site-header nav ul li a {
  text-decoration: none;
  color: #444444; }

header.site-header svg#logo {
  float: left;
  margin: 0 -7px; }

header.site-header svg#menu_btn {
  display: none; }

header.site-header .dropdown {
  float: right; }

section.main-content {
  width: 70%; }

section, aside {
  min-height: 1000px; }

/*Medium CSS*/
/*Small CSS*/
body.small header.site-header h1 {
  display: none; }
body.small header.site-header nav {
  margin-left: 20px; }

/*Mobile CSS*/
body.mobile header.site-header .dropdown {
  display: none; }
body.mobile header.site-header #menu_btn {
  display: block;
  margin: 0 -10px; }
body.mobile header.site-header {
  padding: 5px 0; }
body.mobile header.site-header .container {
  margin: 0 5px; }
body.mobile header.site-header h1 {
  display: block;
  text-align: center;
  margin: 0;
  float: none;
  width: auto; }
body.mobile header.site-header nav {
  position: absolute;
  right: 0;
  margin-top: 6px;
  border: none; }
body.mobile header.site-header nav ul {
  background: #151515;
  padding: 0 0 5px 0;
  border-radius: 0 0 0 10px; }
body.mobile header.site-header nav ul li {
  float: none; }
body.mobile header.site-header nav ul li a {
  font-size: 25px;
  border-bottom: 1px solid #2a2a2a;
  padding: 10px 18px;
  float: none;
  margin: 0;
  line-height: 35px;
  display: block; }
body.mobile header.site-header nav ul li.active a {
  font-size: 25px;
  line-height: 35px; }
body.mobile header.site-header nav ul li.active a {
  font-weight: 300;
  border-bottom: 1px solid #2a2a2a;
  line-height: 40px;
  padding: 10px 18px; }
body.mobile header.site-header nav ul li:last-child a {
  border-bottom: none; }
body.mobile header.site-header nav ul li a {
  text-decoration: none;
  color: white; }
body.mobile header.site-header svg#logo {
  float: left;
  margin-left: 0; }
body.mobile header.site-header svg#menu_btn {
  display: block;
  float: right;
  margin-right: -2px; }
body.mobile header.site-header svg#menu_btn:hover {
  cursor: pointer; }
body.mobile header.site-header .follow {
  display: none; }

@media screen and (max-width: 1180px) {
  header.site-header .container {
    margin: 0 20px; } }
@media screen and (max-width: 720px) {
  header.site-header {
    padding: 15px 0; } }
@media screen and (max-height: 720px) {
  header.site-header {
    padding: 15px 0; } }
@media screen and (max-height: 480px) {
  header.site-header {
    padding: 5px 0; } }
@media screen and (max-height: 325px) {
  header.site-header {
    padding: 5px 0;
    position: absolute; } }
